.comment-section {
  background-color: var(--bg-dark-green);
  padding: 60px;
}
.comment-section h2 {
  color: var(--text-color-white);
  font-size: 24px;
  font-weight: 400;
  word-spacing: 2px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.comment-section hr {
  width: 10%;
  justify-self: start;
  border: 2.3px solid #a0cb63;
  border-radius: 10px;
  margin-bottom: 10px;
}
.comment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.comment-up {
  background-color: var(--accent-green);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clip-img {
  clip-path: circle(50%);
  object-position: top;
  object-fit: cover;
}
.brand-title {
  font-weight: 300;
  font-size: 0.7em;
}
.comment-up p {
  font-size: 0.9em;
  line-height: 1.8em;
}
@media (max-width: 800px) {
  .comment-section {
    padding: 60px;
  }
  .comment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  .comment-up {
    padding: 60px;
  }
}
@media (max-width: 500px) {
.comment-section {
    padding: 40px;
  }
  
  .comment-up {
    padding: 30px 20px;
  }
}