.footer-section {
  padding: 30px 60px 0;
  background-color: var(--bg-light-green);
}
.upper-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.upper-footer p {
  line-height: 1.6;
}
.upper-footer p a {
  font-size: 0.7em;
  color: var(--text-black-color);
}
.search-footer {
  display: flex;
}
.search-footer input {
  background-color: var(--bg-dark-green);
  color: var(--text-color-white);
  padding: 10px;
  height: 43px;
  width: 250px;
}
.search-footer input::placeholder {
  font-size: 0.9em;
  font-style: italic;
  color: var(--text-color-white);
}
.search-footer a {
  background-color: #c5e2a2;
  padding: 10px;
  color: var(--text-black-color);
}
.footer-icon {
  display: flex;
  gap: 20px;
}
.footer-icon i {
  font-size: 1em;
  font-weight: 500;
  background: var(--accent-green);
  padding: 10px;
  border-radius: 50%;
}
.link-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.8;
}
.link-footer ul,
.link-footer img {
  list-style-type: none;
  margin: 5em 0 2em;
}
.link-footer ul li p {
  font-weight: 600;
}
.link-footer ul li a {
  color: var(--text-color-black);
  font-size: 0.9em;
}
.link-footer ul li a:hover {
  color: var(--bg-dark-green);
}

.copyright {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding-top: 30px;
  padding-bottom: 10px;
}
#scrollToTopBtn {
    display: none;
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    border: none;
    background-color: var(--bg-light-green);
    color: var(--bg-dark-green);
    cursor: pointer; 
    padding: 2px;
    border-radius: 50%;
    font-size: 2.5em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4); 
    transition: background-color 0.3s, transform 0.3s;
}


@media (max-width: 768px) {
  .upper-footer {
    flex-direction: column;
    text-align: center;
    line-height: 0.9em;
  }
  .search-footer {
    padding: 20px 0;
  }
  .link-footer {
    align-items: start;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .link-footer {
    flex-direction: column;
    align-items: center;
  }
  .link-footer ul {
    margin: 1em 0 2em;
  }
}
