:root {
  --text-color-white: #f5f5f5;
  --text-color-black: #000000;
  --shadow-color-sidebar: rgba(0, 0, 0, 0.4);

  --accent-green: #c5e2a2;
  --bg-dark-green: #102d0f;
  --bg-light-green: #dee2cd;
  --bg-green: #366006;

  --body-font: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* visibility: hidden; */
  display: none;
}
body {
    font-family: "Poppins";
}
a {
  text-decoration: none;
}
.landing {
  background-image: url("../img/gym-room.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color-white);
  height: 100vh;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.intro h1 {
  font-size: 5em;
  font-weight: 700;
  border-bottom: 3px solid white;
}
.intro p {
  padding: 20px 0;
  font-size: 1.6em;
}
@media (max-width: 768px) {
  .landing {
    max-height: 100%;
    height: 50vh;
  }
  .intro {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }
  .intro h1 {
    font-size: 3em;
  }
  .intro p {
    font-size: 1.2em;
  }
}
@media (max-width: 500px) {
  .landing {
    max-height: 100%;
    height: 50vh;
  }
  .intro {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }
  .intro h1 {
    font-size: 2em;
  }
  .intro p {
    font-size: 1em;
  }
}
